doctype html
html(lang='en')
	head
		block title
		meta(charset='UTF-8')
		link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

	body
		
		.resume-container
			.eyecatch-logo
			.eyecatch.u-doc-container
				.eyecatch-info-text
				h1.eyecatch-title Linzi Nunes
				p.eyecatch-subtitle Java/Automation Engineer
				p.eyecatch-description
					| Skilled Java/EE Stack and Python Developer with particular interest in Automation, DevOps and AI (specifically Natural Language Processing).
					| I have been a Software Engineer for 3 years.
					| I have gained proficiency with a vast array of server-side technologies throughout my career such as Spring, T/SQL, Jenkins etc.
					| I am also familiar with Infrastructure & DevOps tools such as AWS, Chef and Docker.

			.contact
				.row
					.three.columns.contact-each-first
						p.contact-content English, French
						p.contact-heading Languages
					.three.columns.contact-each-second
						p.contact-content +1 (512) 739-7573
						p.contact-heading Phone Number
					.three.columns.contact-each-third
						p.contact-content.contact-content-email linzinunes@gmail.com
						p.contact-heading Email
					.three.columns.contact-each-last
						p.contact-content Austin, Texas
						p.contact-heading Location

			.row.u-doc-container
				.six.columns

					h2.u-section-title Work Experience
					.work-each
						p.u-each-title
							span.u-each-organization American Dynamics
							span.u-each-period 12/2016 ~ 08/2017
						p.u-each-subtitle Software Automation Engineer
						p.work-each-description
							| I work on broadening the scale of our web application (https://www.in-fra.jp).
							| When I first joined the company, the application was a little outdated in both infrastructure and code,
							| so our major task is refactoring the program.
							| I've decreased application's TTFB by 2000ms.
							ul
								li Design and script QA automation framework using Python and Selenium WebDriver
								li Automate end to end, integration, smoke, UAT, Business Verification (BVT) tests
								li Work alongside Principal Product Developers to integrate BVT with the release process to facilitate automated installation, detect bugs and provide early feedback
								li Design and implement build and release pipeline using Jenkins integrated with different product development branches
								li Migrate full code base from TFS to Git, design branching model and provide training to all members of the team
								li Initiative to move all manual QA process into automation using the framework and trained team members to use framework
								li Configure and maintain PyPi server for code artefacts
								li Design and implement automated versioning of Python artefacts
								li Implement and drive an Agile approach to development within the team using SCRUM with Kanban. SCRUM master for the QA automation team


					.work-each
						p.u-each-title
							span.u-each-organization  Version One 
							span.u-each-period 09/2016 ~ 12/2016
						p.u-each-subtitle Java Consultant
						p.work-each-description
							| I worked in sales first half a year.
							| In the sales department, I made appointments with new customers, and secured contracts with them.
							| Then I moved to the engineering department, where I conducted maintenance on internal systems.
							ul
								li Sale of Human Resource solutions
								li Create new functions with FuelPHP
								li Build systems
								li Fix bugs and prevent system degradation

					.work-each
						p.u-each-title
							span.u-each-organization  CitiGroup Inc. 
							span.u-each-period 09/2015 ~ 09/2016
						p.u-each-subtitle IT Graduate Associate
						p.work-each-description
							| I worked in sales first half a year.
							| In the sales department, I made appointments with new customers, and secured contracts with them.
							| Then I moved to the engineering department, where I conducted maintenance on internal systems.
							ul
								li Part of Derivatives Trade Processing team developing critical worldwide software to allow for trades to be submitted/processed 
								li Core development in Java implementing advanced logic such as validation rules and business logic
								li OO Development 
								li Deciding the best approach to effectively solve a problem in a configurable manner 
								li Using fixture builders 
								li BDD and TDD, Developer Testing
								li Using supporting technologies such as Spring framework, SQL, XML, REST, test harnesses
								li Linux boxes to access different environments
								li SVN/GitHub


					.education
						h2.u-section-title Education
						.education-each
							span.u-each-organization Ulster University
							span.u-each-period 09/2014 ~ 06/2015
						p.u-each-subtitle MSc Professional Software Development with Distinction
						ul
							li Programming
							li Linear Algebra, Calculus
							li Statistics

						.education-each
							span.u-each-organization Ulster University
							span.u-each-period 09/2011 ~ 06/2014
						p.u-each-subtitle BSc Language and Linguistics with First Class Honors
						ul
							li Programming
							li Linear Algebra, Calculus
							li Statistics



				.six.columns

					.education
						h2.u-section-title Awards
						ul
							li
								span.oss-title Scholarship from Department for Education and Learning (DEL) Northern Ireland for Masters Degree
								p.oss-description - Top 15 Ranked Student out of 120 in class to gain Tuition payments from DEL.


					.education
						h2.u-section-title Development Skills
						ul
							li Object Oriented Development/Fundamentals 
							li Java 8/EE, Spring Integration/Core, JDBC, JSF, XML, ReST/SOAP, Maven, EJB
							li DBMS (Oracle), T/SQL
							li Python 
							li JUnit, Mockito, Fixture Builders, EasyMock, TDD, BDD, Integration testing using Spring 
							li Agile Methodologies – SCRUM and Kanban
							li Confluence, Jira, TeamCity, Jenkins, UDeploy, Maven, Sonar
							li WebLogic, Tomcat, jBoss 
							li SVN/GitHub/BitBucket/TFS
							li Linux, BASH
							li HTML5, CSS and JavaScript
							li VMWare/ VirtualBox


					.education
						h2.u-section-title Profile Links
						ul
							img.image(src='/' + img_path_var )
							li https://github.com/acro5piano
							li https://www.linkedin.com/in/kay-gosho-587a05121
							li https://acro5piano.github.io
							li https://dev.to/acro5piano
							li https://qiita.com/acro5piano (Japanese website)

						script(src='/bundle.js')
