doctype html
html(lang='en')
	head
		block title
		meta(charset='UTF-8')
		link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
	body
		
		.resume-container
			.eyecatch-logo
			.eyecatch.u-doc-container
				h1.eyecatch-title Linzi Nunes
					
				.eyecatch-icons
					a(class='btn btn-light fa fa-github fa-3x' href='https://github.com/LinziNunes')
					
				.eyecatch-linkedin
					a(class='btn btn-light fa fa-linkedin fa-3x' color='grey' href='https://www.linkedin.com/in/linzi-nunes/')
		
				
				.eyecatch-info-text
				p.eyecatch-subtitle Java/Automation Engineer
				p.eyecatch-description
					| Skilled Java/EE Stack and Python Developer with particular interest in Automation, DevOps and AI (specifically Natural Language Processing).
					| I have been a Software Engineer for 3 years.
					| I have gained proficiency with a vast array of server-side technologies throughout my career such as Spring, T/SQL, Jenkins etc.
					| I am also familiar with Infrastructure & DevOps tools such as AWS, Chef and Docker.
			

			.contact
				.row
					.three.columns.contact-each-first
						p.contact-content English, French
						p.contact-heading Languages
					.three.columns.contact-each-second
						p.contact-content +1 (512) 739-7573
						p.contact-heading Phone Number
					.three.columns.contact-each-third
						p.contact-content.contact-content-email linzinunes@gmail.com
						p.contact-heading Email
					.three.columns.contact-each-last
						p.contact-content Austin, Texas
						p.contact-heading Location

			.row.u-doc-container
				.six.columns

					h2.u-section-title Work Experience
					.work-each
						p.u-each-title
							span.u-each-organization American Dynamics
							span.u-each-period 12/2016 ~ 08/2017
						p.u-each-subtitle Software Automation Engineer
						p.work-each-description
							| I was the project lead for automated testing of the client dashboard GUI for IP, Analog and Hybrid Camera systems. This required a full font end test suite and retrieval of data from the hardware for comparison of statistics.
							| Took full ownership and initiative to implement an Agile methodology including completing full project analysis and estimating and reflecting this on TFS.
							| I also jointly lead changeover from TFS source control to Git for improved productivity.
							ul
								li Design and script QA automation framework using Python and Selenium WebDriver
								li Automate end to end, integration, smoke, UAT, Business Verification (BVT) tests
								li Work alongside Principal Product Developers to integrate BVT with the release process to facilitate automated installation, detect bugs and provide early feedback
								li Design and implement build and release pipeline using Jenkins integrated with different product development branches
								li Migrate full code base from TFS to Git, design branching model and provide training to all members of the team
								li Initiative to move all manual QA process into automation using the framework and trained team members to use framework
								li Configure and maintain PyPi server for code artefacts
								li Design and implement automated versioning of Python artefacts
								li Implement and drive an Agile approach to development within the team using SCRUM with Kanban. SCRUM master for the QA automation team


					.work-each
						p.u-each-title
							span.u-each-organization  Version One 
							span.u-each-period 09/2016 ~ 12/2016
						p.u-each-subtitle Java Consultant
						p.work-each-description
						ul
							li Consultant for Pharamceuticals brand developing monitoring software for medication transportation.
							li Exposure to technologies such as Oracle ADF, Java 8, JSF, Build tools such as Maven/Ant/Gradle, Spring, T/SQL, Jenkins etc.
							li Technologies such as - Java 8, J2EE, Big Data tools – HaDoop, MapReduce, DevOps tools, Maven, JSF, virtualisation, Spring/Hibernate, Ruby, Python

					.work-each
						p.u-each-title
							span.u-each-organization  CitiGroup Inc. 
							span.u-each-period 09/2015 ~ 09/2016
						p.u-each-subtitle IT Graduate Associate
						p.work-each-description
							| I developed the application which was responsible for caputring all of Citi's Derivitive trades worldwide. This was an extremely important time sensitive app. 
							| Development followed very strict guidlines which allowed me to learn best practices very early in my career and focus on design patterns. During the first 12 weeks I Graduated from the Citi 
							| technology academy, which is a world renowned very intense training schedule to hone development skills for a working environment. Courses included - Linux, Python, Java, Java EE, HTML, SQL, Capital Markets 
							| Culminating in a 3 week project to deveop a full stack trading app. 
							ul
								li Part of Derivatives Trade Processing team developing critical worldwide software to allow for trades to be submitted/processed 
								li Core development in Java implementing advanced logic such as validation rules and business logic
								li OO Development 
								li Deciding the best approach to effectively solve a problem in a configurable manner 
								li Using fixture builders 
								li BDD and TDD, Developer Testing
								li Using supporting technologies such as Spring framework, SQL, XML, REST, test harnesses
								li Linux boxes to access different environments
								li SVN/GitHub

								
								
					.work-each
						p.u-each-title
							span.u-each-organization  Marks and Spencer Plc.
							span.u-each-period 10/2009 ~ 08/2015
						p.u-each-subtitle Visual Stylist-Merchandiser
						p.work-each-description
				.six.columns

					.education
						h2.u-section-title Education
						.education-each
							span.u-each-organization Ulster University
							span.u-each-period 09/2014 ~ 06/2015
						p.u-each-subtitle MSc Professional Software Development with Distinction
						
						Independant Project:  Development of a compositional search engine implemented using Python, PHP, MySQL and HTML5

						table.table.table-striped#dashboardTable(style="width:100%")
							thead
								tr 
									th(style='width:15px') Semeseter 1
									th(style='width:65px') Semester 2 
									th(style='width:5px') Semester 3
							tbody
								tr
									td Software Development I: 71% 
									td Database Systems: 76%
									td Independant Project: 71%
								tr 
									td Computer Hardware: 75%
									td Concurrent Systems: 69%
								tr 
									td Operating Systems: 74%
									td Data Structures: 68%
								tr
									td Software Development II: 73%
									td Mobile Apps: 79%
							
					.education
						.education-each
							span.u-each-organization Ulster University
							span.u-each-period 09/2011 ~ 06/2014
						p.u-each-subtitle BSc Language and Linguistics with First Class Honors
						ul
							li Problem Solving using compositional approach 
							li Syntax, Semantics, Acquisition, Analysis, Communication, Research
							li Statistics
							li Semantic Dissertation on child acquisition patterns


					.education
						h2.u-section-title Awards
						ul
							li
								span.oss-title Scholarship from Department for Education and Learning (DEL) Northern Ireland for Masters Degree
								p.oss-description - Top 15 Ranked Student out of 120 in class to gain Tuition payments from DEL.


					.education
						h2.u-section-title Development Skills
						ul
							li Object Oriented Development/Fundamentals 
							li Java 8/EE, Spring Integration/Core, JDBC, JSF, XML, ReST/SOAP, Maven, EJB
							li DBMS (Oracle), T/SQL
							li Python 
							li JUnit, Mockito, Fixture Builders, EasyMock, TDD, BDD, Integration testing using Spring 
							li Agile Methodologies – SCRUM and Kanban
							li Confluence, Jira, TeamCity, Jenkins, UDeploy, Maven, Sonar
							li WebLogic, Tomcat, jBoss 
							li SVN/GitHub/BitBucket/TFS
							li Linux, BASH
							li HTML5, CSS and JavaScript
							li VMWare/ VirtualBox
							
							on
			
					.education
						h2.u-section-title Profile Links
						ul
							i.fa.fa.fa-github 
							li Webpack, Pug and CSS Resume Project: https://github.com/LinziNunes/resume
							i.fa.fa.fa-linkedin 
							li https://www.linkedin.com/in/linzi-nunes/
					
						
					.education
						h2.u-section-title Technological Aspirations
						ul
							li Natural Language Processing 
							li Artificial Intelligence
							li Big Data, Data Mining
							li Automation
					

	script(src='/bundle.js')